

.section {
  display: grid;
  border-radius: var(--radius-big, 12px);
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
margin-top:70px ;
}




.text_h2 {
  color: var(--txt-white, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  padding-top: 32px;
}

.all_elements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  max-width: 100%;
}

.image {
  max-width: 500px;
  padding-top: 62px;
}
.all_inputs {
  display: flex;
  flex-direction: column;
  width: 316px;
  gap: 16px;
  color: rgb(229, 241, 4);
}

@media(max-width:700px){
  .all_elements {
  flex-direction: column;
  gap: 5px;
  }

  .section {
  margin-top:70px ;
  }

  .image {
    max-width: 300px;
    padding-top: 62px;
  }
}


.input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  height: 38px;
  color: rgb(190, 204, 121);
  font-size: 20px;
  padding-left: 32px;
}

.submit {
  display: flex;
  width: 316px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  background: var(--white, #FFF);
  border: none;

  color: var(--txt-black, #282828);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
margin-bottom: 10px;
}

.input::placeholder {
  color: rgb(81, 64, 64);
}