.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(250, 249, 248);
height: 100px;
opacity: 0.98;
}

.link {
  text-decoration: none;
  color: var(--txt-black, #282828);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
}


.paragraph {
  display: flex;
  gap: 32px;
}


@media (max-width : 700px){
  .paragraph {
    display: flex;
    gap: 11px;
  }
}


.link:hover {
color: rgb(12, 145, 145);
}

.count {
  width: 30px;
  height: 30px;
  border-radius: 50%;
 background-color: rgb(2, 250, 250);
 margin-top: 25px;
text-align: center;
position: absolute;
}

.countNone {
  display: none;
}
