.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(250, 249, 248);
  height: 100px;
  opacity: 0.98;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}


.paragraph {
  display: flex;
  gap: 100px;
}

.count {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(46, 161, 219);
  color: white;
  margin-top: 27px;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  margin-left: 1px;
}


@media (max-width : 700px) {
  .paragraph {
    display: flex;
    gap: 11px;
    display: flex;
    gap: 20px;
    font-size: 15px;
  }

  .logo {
    width: 50px;
  }

  .count {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 29px;
  }

}


.link:hover {
  color: rgb(12, 145, 145);
}



.countNone {
  display: none;
}