.text_H1 {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  text-align: center;
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.forms {
  display: flex;
}

