.allElements {
  width: 400px;
  border-radius: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--grey-divider, #ddd);
  padding-left: 50px;
  margin-bottom: 20px;

}

.main {
  margin: 0 auto;
}

.counrText {
  margin-top: 30px;
}

.prise_sale {
  padding-top: 30px;
}


.btn {
  display: flex;
  width: 58px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}

.elementsCounter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5%;
  padding: 20px;
  width: 300px;
}


@media(max-width:700px) {
  .elementsCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    padding: 20px;
  }

  .allElements {
    padding-top: 30px;
justify-content: center;
margin-left: 46vw;
    /* margin-left: 233px; */
    margin-top: 40px;
  }
}

.imgList {
  width: 300px;
  height: 100%;
  border-radius: 20px;
}

.deletedProducts {
  display: flex;
  justify-content: space-between;
}

.product_prise {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.prise_sale_none {
  display: none;
}

.prise_sale {
  color: #282828;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.prise_default {
  color: #8b8b8b;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: line-through;
}